@import url('https://fonts.googleapis.com/css?family=Raleway');

/* base styles */
* {
    margin: 0;
    font-family: "Raleway";
    color: #333;
}
.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.46);
}
.navbar h1 {
    padding-top: 5px;
    color: #bc74c0;
    font-weight: bold;
}
.navbar .links {
    margin-left: auto;
}
.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}
.navbar a:hover {
    color: #bc74c0;
}
.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}
h2.headerText{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
}
h4.subText{
    text-align: center;
    padding-bottom: 20px;
    font-size: medium;
    font-weight: bold;
}
h4.questions{
    font-size: small;
}
.radioAdjust{
    padding-top:25px;
}
.pssQ{
    padding-top:20px;
    text-align: center;
    font-size: small;
}
.divQ{
    padding-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.46);
}
//.radio {
//    border: none;
//    padding: 20px;
//    text-align: center;
//    text-decoration: none;
//    display: inline-block;
//    font-size: 16px;
//    margin: 4px 2px;
//}
.button-container{
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}
.title{
    text-align: center;
}

input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #70AE98;
    border: 1px solid #70AE98;
    color: #fff;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background: #70AE98;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}

.title {
    font-size: 25px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}